
.carousel-caption {
    position: relative;
    left: 0;
    top: 30%;
    margin: 0 60px 0 60px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
  }

  .logos {
      width: 30vw;
      margin-bottom: 40px;
  }
