
.buttons {
    margin-bottom: 55px;
}

.buttons a {
    align-items: center;
    color: #111111;
    background: #ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: 0.3s;
}

.buttons a:hover {
    /* font-weight: 700; */
    letter-spacing: 4px;
    background: #ffffffdc;
}

.container {
    max-width: 600px;
}

hr {
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%);
    height: 2px;
    margin: 5px auto 10px auto;
}

.main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    background: #000000;
    mix-blend-mode: color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    cursor: default;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 6px solid #ffffff;
    color: #ffffff;
    width: 40vw;
    margin: 20vh auto 80px auto;
    padding: 25px;
    position: relative;
    z-index: 10;
}

.text h1 {
    letter-spacing: 12px;
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
}

.text p {
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .text {
        font-size: 3vw;
        width: 48vw;
    }

    .text h1 {
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 950px) {
    .text {
        font-size: 4vw;
        width: 60vw;
    }

    .text h1 {
        font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 5vw;
        width: 90vw;
        margin: 12vh auto 80px auto;
    }

    .text h1 {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 320px) {
    .text {
        font-size: 4vw;
        margin: 10vh auto 80px auto;
    }
}

@media only screen and (max-width: 280px) {
    .text {
        margin: 15vh auto 80px auto;
    }
}
