<section class="main">

    <!-- <video src="../../../assets/media/Background1.mp4" autoplay loop muted></video> -->
    <video id="background" src="../../../assets/media/Background2.mp4" autoplay loop muted></video>
    <div class="overlay"></div>

    <div class="text">
        <h1>Ted Mevlani</h1>
        <hr>
        <p>Software Developer in Tampa, FL</p>

        <button class="hamburger hamburger--emphatic" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        
    </div>

    <div class="buttons">
        <a routerLink="about">About Me</a>
        <a routerLink="projects">Projects</a>
    </div>

</section>
