<!-- <app-header></app-header> -->
<div class="main">

    <video id="background" src="../../../assets/media/Background1.mp4" autoplay loop muted></video>
    <div class="overlay"></div>

    <div class="text">
        <h1>Ted Mevlani</h1>
        <hr>
        <p>Software Developer in Tampa, FL</p>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="buttons">
                    <a href="about">ABOUT ME</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="buttons">
                    <a href="projects">PROJECTS</a>
                </div>
            </div>
        </div>
    </div>

</div>
